/* @import "tailwindcss";
@import "@nuxt/ui"; */

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --default-font-family: "Roboto";
  --ui-primary: #ff9e24;
}

.dark {
  --ui-bg-solid: #15152e;
  --ui-bg: linear-gradient(
    160deg,
    #0b0b22 0%,
    #111133 50%,
    #1a1a4f 75%,
    #2c2c63 100%
  );
  --ui-bg-inverted: #dddfff;
  --ui-bg-muted: #222247;
  --ui-bg-elevated: #1e1e38;
  --ui-border: #252553;
  --ui-border-muted: #41416b;
  --ui-text-muted: #8181af;
  --ui-text-dimmed: #59598f;
  --ui-text-inverted: #181c6d;
}

.light {
  --ui-bg-solid: #fafafa;
  --ui-bg-inverted: #262a7c;
  /* --ui-bg-muted: #ddddff; */
  /* --ui-bg-elevated: #1e1e38; */
  --ui-border: #eaeaf3;
  /* --ui-border-muted: #41416b; */
  /* --ui-text-muted: #8181af; */
  /* --ui-text-inverted: #181c6d; */
  --ui-text-dimmed: #b5b5da;
  --ui-text-highlighted: #262a7c;
}

#index-logo[data-state="closed"] {
  width: 400px !important;
  max-width: none !important;
}

div[role="dialog"],
div[role="group"] {
  background: var(--ui-bg-solid);
}

body {
  background: var(--ui-bg);
  background-attachment: fixed;
  min-height: 100vh;
}
