/* ========== Base (Firefox) ========== */
/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--sb-thumb) var(--sb-track);
} */

/* ========== WebKit Browsers ========== */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--sb-track);
  /* border-radius: 999px; */
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb);
  border-radius: 999px;
  border: 2px solid var(--sb-track);
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-hover);
}
